<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/jdbc     
        http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd">

	<jdbc:embedded-database id="dataSource" type="HSQL">
		<jdbc:script location="db/sql-db-create.sql" />
		<jdbc:script location="db/sql-insert-test.sql" />
	</jdbc:embedded-database>

        <bean id="users" class="osypenkp.spring.dao.UserDaoImpl" >
            <property name="jdbcTemplate" ref="jdbc" />
        </bean>
	
        <bean id="auditoriums" class="osypenkp.spring.dao.AuditoriumDaoImpl" >
            <property name="jdbcTemplate" ref="jdbc" />
        </bean>
            
        <bean id="events" class="osypenkp.spring.dao.EventDaoImpl">
            <constructor-arg ref="jdbc"/>
            <constructor-arg ref="auditoriums"/>
        </bean>
        
        <bean id="tickets" class="osypenkp.spring.dao.TicketDaoImpl">
            <constructor-arg ref="jdbc"/>
            <property name="users" ref="users" />
            <property name="events" ref="events" />
        </bean>
        
        <bean id="jdbc" class="org.springframework.jdbc.core.JdbcTemplate" >
		<constructor-arg ref="dataSource" />
	    </bean>
	
	<!-- Hsql database manager -->
	<bean depends-on="dataSource"
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetClass" value="org.hsqldb.util.DatabaseManagerSwing" />
		<property name="targetMethod" value="main" />
		<property name="arguments">
			<list>
				<value>--url</value>
				<value>jdbc:hsqldb:mem:dataSource</value>
				<value>--user</value>
				<value>sa</value>
				<value>--password</value>
				<value></value>
			</list>
		</property>
	</bean>
</beans>